body
{
    font-family: "Montserrat-Black";
}

.container-fluid
{
    padding: 0 15%;
}
.intro
{
    background-color: #FF4C68;
    color: #fff;
}
.title-img
{
    height:80%;
    width: 75%;
    transform: rotate(25deg);
    margin-left: 20%;
    margin-top: 10%;
}

h1
{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    margin-right: 2%;
}
button
{
    margin: 5% 3% 5% 0;
}

.navbar-brand
{
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar
{
    padding-bottom: 4.5rem;
}
.nav-item
{
    padding: 0 18px;
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}

#features
{
    text-align: center;
    padding: 7% 15%;
}
.feature-box
{
    font-family: "Montserrat-Bold";
}
.pics
{
    text-align: center;
    
}
.pics h1
{
    font-size:250%;
}
.caro
{
    background-color:#FF4C68 ;
}
.carousel-item
{
    padding: 5% 15%;
}

#pricing
{
    padding: 5% 12%;
}

.pricing-column
{
    padding: 0% 1%;
    text-align: center;
}

@media (max-width:1000px)
{
    .title-img
    {
        transform: rotate(0);
        position: static;
    }
    body
    {
        text-align: center;
    }
}